body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #999999; 
  height: 300px;
}

.header-button {
  background-color: #dddddd; 
  width: 20%;
  height: 50px; 
  display: inline-block;
  text-align: center; 
  box-sizing: border-box; 
  
}

.header-button:hover {
  background-color: #aaaaaa; 
}

.header-button-inner {
  margin-top: 12px;

}

.header-link {
  text-decoration: none;
  color: black; 
  
}

.header-link:visited {
  text-decoration: none; 
  color: black; 
}


.text-block {
  width: 50%; 
}

.image {
  height: 200px; 
  width: 100%;
}

.content {
  text-align: center; 
  width: 80%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  
}

.section {
  margin-top: 30px; 
}

.subsection {
  margin-top : 10px; 
}