body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0f0f5f
}

.portrait-photo {
  
  width: 25%; 
  margin: 20px; 
  border-style: solid; 
  border-color: #888888;
}

.intro {
  vertical-align: text-top;
  font-size: 20px; 
  font-weight: 100;
  font-family: 'Titillium Web', sans-serif;

}

.peter {
  font-size: 48px; 
}

.study {
  font-size: 28px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;

}

.school {
  font-size: 28px; 
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;


}

.intro-text {
  width: 60%;
  box-sizing: border-box; 
  display: inline-block;
  vertical-align: top;
  padding: 20px; 


  
}

.header {
  background-color: #fffcf9; 
  border-style: solid; 
  border-top:none; 
  border-left:none; 
  border-right: none; 
  border-color: #000000;
  border-width: 2px; 
}

.buttons {
  width: 60%; 
  margin: auto; 
}

.header-button {
  width: 20%;
  height: 50px; 
  display: inline-block;
  text-align: center; 
  box-sizing: border-box; 
  
}

.header-button-active {

  border-color: #19468e; 
  border-width: 8px; 
  border-style:solid; 
  border-top: none; 
  border-left: none; 
  border-right: none; 

  width: 20%;
  height: 50px; 
  display: inline-block;
  text-align: center; 
  box-sizing: border-box; 
}

.header-button:hover {
  border-color: #19468e; 
  border-width: 8px; 
  border-style:solid; 
  border-top: none; 
  border-left: none; 
  border-right: none; 
}

.header-button-inner {
  margin-top: 12px;

}

.header-link {
  text-decoration: none;
  color: black; 
  
}

.header-link:visited {
  text-decoration: none; 
  color: black; 
}


.text-block {
  width: 50%; 
}



.content {
  text-align: center; 
  width: 80%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;

  
}

.info-section {
  margin-top: 30px; 
  margin-bottom: 30px; 
  
}

.subsection {
  margin-top : 10px; 
}

.subsection-title {
  font-size: 30px; 
}

.subsection-content {
  font-size: 20px; 
  font-weight: 100;
  margin-top: 10px; 
  font-family: 'Titillium Web', sans-serif;

}


.article {
  width: 80%;
  box-sizing: border-box; 
  display: inline-block;
  vertical-align: text-top;
  text-align: left; 



}


.article-inner {
  margin: 10px; 
  padding: 10px; 


}

.article-title {
  font-size: 32px;
  color: red;
  border-color: black;

  border-style:solid;
  border-left: none; 
  border-right:none;
  border-top:none;
  margin-bottom: 3px; 


}


.article-header-snippet {
 /* background: linear-gradient(#bbbbbb, #eeeeee);*/
  cursor:pointer; 
  border-color: #dddddd;

  border-style:none;
  border-left: none; 
  border-right:none;
  border-top:none;
  
}

.article-header-snippet:hover {
  
}



.article-snippit {
  width: 40%;
  box-sizing: border-box; 
  display: inline-block;
  vertical-align: text-top;
  text-align: left; 


}

.link {
  text-decoration: none;
  color: black; 
  background: inherit; 


}

.link:visited {
  text-decoration: none;
  color: inherit; 
  background: inherit; 



}
.article-content {
  font-size: 28px; 
  font-weight: 100;

  font-family: 'Titillium Web', sans-serif;

}
.article-snippit-content {
  font-size: 28px; 
  font-weight: 100;

  font-family: 'Titillium Web', sans-serif;
  text-align: center; 
}
.sub-title {
  font-size: 48px;
  padding: 10px; 
}

.text-container {
  text-align: left;
  padding: 10px; 
}

body {
  font-family: 'Arvo', serif;
  
  font-size: 15px;

}